<!-- Template for the app route -->
{% extends 'base.html' %}
  {% block content %}
  <div class="row">
    <h2>{{ router[2] }}</h2>
    <p><i class="fa-solid fa-calendar"></i> Status published {{ router[1] }}</p>
    <p><i class="fa-solid fa-fingerprint"></i>{{ router[3] }}</p>
    <p><i class="fa-solid fa-server"></i>{% if router[0] %}
        Bridge
    {% else %}
        Relay
    {% endif %}</p>
    <p>{% if router[7] %}
        <span class="text-success"><i class="fa-sharp fa-solid fa-circle"></i>
          Online
    {% else %}
        <span class="text-danger"><i class="fa-sharp fa-solid fa-circle"></i>
          Offline
    {% endif %}</span></p>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div id="bandwidth" class="card-img-top"><!-- Plotly chart will be drawn inside this DIV --></div>
        <div class="card-body">
          <h5 class="card-title">Bandwidth in bytes per second</h5>
        </div>
      </div>
    </div>
    <div class="col">
      {% if not router[0] %}
        <div class="card">
          <div id="fraction" class="card-img-top"><!-- Plotly chart will be drawn inside this DIV --></div>
          <div class="card-body">
            <h5 class="card-title">Network fractions</h5>
          </div>
        </div>
      {% endif %}
    </div>
    <script type="text/javascript">
      var trace_read = {

        x: {{ read_bw_time|safe }},

        y: {{ read_bw }},

        type: 'scatter',

        name: 'Read bandwidth',

      };

      var trace_write = {

        x: {{ write_bw_time|safe }},

        y: {{ write_bw }},

        type: 'scatter',

        name: 'Written bandwidth',

      };

      var data = [trace_read, trace_write];


      Plotly.newPlot('bandwidth', data);
    </script>
    {% if not router[0] %}
      <script type="text/javascript">
        var trace_exit = {

          x: {{ time_exit|safe }},

          y: {{ values_exit }},

          type: 'scatter',

          name: 'Network exit fraction',

        };

        var trace_guard = {

          x: {{ time_guard|safe }},

          y: {{ values_guard }},

          type: 'scatter',

          name: 'Network guard fraction',

        };

        var trace_middle = {

          x: {{ time_middle|safe }},

          y: {{ values_middle }},

          type: 'scatter',

          name: 'Network middle fraction',

        };

        var data = [trace_exit, trace_guard, trace_middle];


        Plotly.newPlot('fraction', data);
      </script>
    {% endif %}
  </div>
  <div class="row">
    <h5><i class="fa-solid fa-file"></i> Details</h5>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exit policy</h5>
          <p class="card-text">
            <code>{{ router[15] }}</code>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Version and platform</h5>
          <p class="card-text">{{ router[17] }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
