<nav aria-label="page navigation">
  <ul class="pagination">
    {% if page|int > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page|int -1 }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="?page={{ page|int - 1 }}">{{ page|int - 1 }}</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page|int + 1 }}">{{ page|int + 1 }}</a></li>
    {% endif %}
    {% if page|int < 1 %}
      <li class="page-item"><a class="page-link" href="?page={{ page|int + 2 }}">{{ page|int + 2 }}</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page|int + 3 }}">{{ page|int + 3 }}</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page|int + 2 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% elif page|int == 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page|int + 1 }}">{{ page|int + 1 }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page|int + 2 }}">{{ page|int + 2 }}</a></li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page|int + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page|int + 1 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
