<!-- Template for the app route -->
{% extends 'base.html' %}
  {% block content %}
  <div class="row">
    <p>
      Welcome back {{ username }}
    </p>
  </div>
  <div class="row">
    <h2>The Tor network in numbers</h2>
    <p>
      The Tor network is one of the largest deployed anonymity networks, consisting of thousands of volunteer-run relays and millions of users. Users, advocates, relay operators, and journalists can better understand the Tor network through data and analysis made available by Tor Metrics.
    </p>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Routers</h5>
          <p class="card-text">Number of running relays and bridges in the network for the past 30 days.</p>
        </div>
        <div id="routers" class="card-img-bottom"><!-- Plotly chart will be drawn inside this DIV --></div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Traffic</h5>
          <p class="card-text">Total advertised and consumed bandwidth of all relays in the network for the last 30 days, in Gb/s.</p>
        </div>
        <div id="bandwidth" class="card-img-bottom"><!-- Plotly chart will be drawn inside this DIV --></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var bw_hist = {

      x: {{ time_bw|safe }},

      y: {{ consumed_bw }},

      type: 'scatter',

      name: 'Bandwidth History',

    };

    var bw_adv = {

      x: {{ adv_time|safe }},

      y: {{ adv_bw }},

      type: 'scatter',

      name: 'Bandwidth Advertsed',

    };

    var data = [bw_hist, bw_adv];


    Plotly.newPlot('bandwidth', data);
  </script>
  <script type="text/javascript">
    var relays = {

      x: {{ relays_time|safe }},

      y: {{ relays }},

      type: 'scatter',

      name: 'Relays',

    };

    var bridges= {

      x: {{ bridges_time|safe }},

      y: {{ bridges }},

      type: 'scatter',

      name: 'Bridges',

    };

    var data = [relays, bridges];


    Plotly.newPlot('routers', data);
  </script>

  {% endblock %}
