// Tor Main Color Palette
$purple:      #7D4698 !default;
$purple-dark: #59316B !default;
$green:       #68B030 !default;
$gray-dark:   #333A41 !default;
$white:       #FFFFFF !default;
$purple-darker: #401753 !default;

// Other Colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$pink:    #e83e8c !default;
$red:     #EF243E !default;
$orange:  #fd7e14 !default;
$yellow:  #FFBF00 !default;
$teal:    #20c997 !default;
$cyan:    #00A5BB !default;

$gray-100: #F8F9FA !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #848E97 !default;
$gray-700: #495057 !default;
$gray-800: #333A41 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $purple !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $purple-dark !default;
$darker:        $purple-darker !default;

$navbar-dark-color:                 $white !default;
$navbar-light-color:                $purple-dark !default;

// Local docs variables
$bd-purple:        #7D4698 !default;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          #59316B !default;
$bd-download:      #ffe484 !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;
$blue-violet:      #8a2be2;

// Fonts -  Source Sans Pro
$font-family-sans:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif:     "Source Serif Pro", -apple-system, "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:      $font-family-sans !default;

$mark-bg:               $bd-purple-light;

// Tables
$table-accent-bg: $bd-purple-light;
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;
